.lavhalar {
    margin: 30px 4.5%;
}

.lavhalar h1 {
    font-family: 'Roboto';
    font-size: 35px;
    margin: 2rem 0;
    font-weight: 700;
}

.lavhalar img {
    width: 25%;
    height: 300px;
    padding: 8px;
    cursor: pointer;
}

.lavhalar1 img:hover {
    transform: scale(1.1) !important;
    transition: 1.1s !important;
}

@media screen and (max-width: 992px) {
    .lavhalar img {
        width: 33%;
        padding: 8px;
    }
    .lavhalar h1 {
    font-size: 25px;
    text-align: center;
}
    /* .srlwrapper {
        display: none;
        overflow: hidden;
    } */
}

@media screen and (max-width: 768px) {
    .lavhalar img {
        width: 50%;
        padding: 8px;
    }
}

@media screen and (max-width: 576px) {
    .lavhalar img {
        width: 100%;
        padding: 8px;
    }
}