.Header {
  background-color: transparent;
  height: auto;
  .container {
    position: relative;
    .smth {
      @media all and (max-width:992px){
        width: auto;
      }
      z-index: 9999;
      position: absolute;
      display: flex;
      padding: 5px 0;
      align-items: center;
      width: 100%;
      .logo {
        img {
          z-index: 9000;
          width: 80px;
        }
      }
      .links {
        @media all and (max-width:992px){
          display: none;
        }
        margin-top: 10px;
        margin-left: auto;
        a {
          text-decoration: none;
          color: #fff;
        }
        ul {
          display: flex;
          padding-left: 0;
          li {
            &:nth-child(1) {
              list-style-type: none;
              margin-left: 15px;
              &:hover {
                &::after {
                  width: 100%;
                }
              }
              &::after {
                content: "";
                display: block;
                height: 3px;
                width: 0%;
                background-color: #f3bc0f;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
              }
            }
            &:nth-child(2) {
              list-style-type: none;
              margin-left: 15px;
              &:hover {
                &::after {
                  width: 100%;
                }
              }
              &::after {
                content: "";
                display: block;
                height: 3px;
                width: 0%;
                background-color: #f3bc0f;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
              }
            }
            &:nth-child(3) {
              list-style-type: none;
              margin-left: 15px;
              &:hover {
                &::after {
                  width: 100%;
                }
              }
              &::after {
                content: "";
                display: block;
                height: 3px;
                width: 0%;
                background-color: #f3bc0f;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
              }
            }
            &:nth-child(4) {
              list-style-type: none;
              margin-left: 15px;
              &:hover {
                &::after {
                  width: 100%;
                }
              }
              &::after {
                content: "";
                display: block;
                height: 3px;
                width: 0%;
                background-color: #f3bc0f;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
              }
            }
            &:nth-child(5) {
              list-style-type: none;
              margin-left: 15px;
              &:hover {
                &::after {
                  width: 100%;
                }
              }
              &::after {
                content: "";
                display: block;
                height: 3px;
                width: 0%;
                background-color: #f3bc0f;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}
