.Footer {
  padding: 70px 0;
  background-color: rgb(47, 47, 47);
  .wrapper {
    display: flex;
    @media all and (max-width:992px){
      .left_box{
        display: block !important;
        p{
          margin-left: 0 !important;
          max-width: 250px !important;
        }
      }
      .right_box{
        display: block !important;
        .navigation{
          margin-right: 0 !important;
        }
      }
    }
    .left_box {
      display: flex;
      img {
        width: 100px;
      }
      p {
        max-width: 300px;
        color: #fff;
        margin: 10px 0;
        margin-left: 20px;
      }
    }
    .right_box {
      margin-left: auto;
      display: flex;
      .navigation {
        margin-right: 20px;
        h6 {
          color: #fff;
        }
        ul {
          padding-left: 0;
          li {
            list-style: none;
            &:hover {
              a {
                color: #fff;
                padding-left: 10px;
              }
            }
            a {
              transition: 0.4s ease;
              color: #f3bc0f;
              text-decoration: none;
            }
          }
        }
      }
      .contacts {
        color: #fff !important;
      }
    }
  }
}
